{% extends 'base.html' %}
{% load static %}
{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <title></title></head>
<body>
{% block header %}

    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'home:view' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                    {% for x in category %}
                        {% if x.type == "services" %}
                            <li><a class="dropdown-item" href="{% url 'services:services_view' x.id %}">{{ x.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'product:view' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:view' %}">ContactUs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:view' %}">AboutUS</a>
            </li>
        </ul>
    </div>
{% endblock %}

<div class="product-item" >
    
    <img src="{% get_media_prefix %}wash-wax.jpg" class="product-img">

    <div style="width: auto; margin-left: 20px ; margin-right: 20px ; margin-top: 20px">

        <h3>Phoenix A1103</h3>
        <p>
            Meet Phoenix, the revolutionary cleaning device designed to effortlessly clean all types of surfaces. Engineered with cutting-edge technology, Phoenix is your go-to solution for maintaining a spotless environment in your home, office, or any other space.
        </p>

        <hr style="height: 2px">

        <h3 style="margin-bottom: 10px">Key Features:</h3>
        <h6 style="margin-top: 10px">1. Versatile Cleaning Power:</h6>
        &emsp; Phoenix is equipped to handle a wide range of surfaces, including hardwood floors, tiles, carpets, glass, and more. Its powerful cleaning mechanism ensures that no dirt, dust, or stains are left behind.
        <h6 style="margin-top: 10px">2. Advanced Cleaning Technology:</h6>
        &emsp; With its state-of-the-art sensors and intelligent cleaning system, Phoenix adapts to different surfaces and adjusts its cleaning mode accordingly. This ensures optimal performance and maximum efficiency.
        <h6 style="margin-top: 10px">3. User-Friendly Design:</h6>
        &emsp; Designed with ease of use in mind, Phoenix features an intuitive interface that allows you to switch between cleaning modes with just a touch. Its ergonomic design ensures comfortable handling and operation.
    </div>
</div>

<hr style="height: 2px ; margin-right: 10px ; margin-left: 10px">


<h3 class="videoTitle" >How to use Phenix A1103?</h3>

<video style="width: 90% ; height: auto ; margin: 30px 5%;" controls poster="{% get_media_prefix %}video-poster.png">
  <source src="{% get_media_prefix %}brand.mov" type="video/mp4" />
</video>

</body>
</html>