{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

</head>
<body>

{% block header %}


    <!-- دکمه موبایل -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa fa-bars text-primary"></i></span>
    </button>

    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home:view' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for x in category %}
                        <li><a class="dropdown-item" href="{% url 'services:services_view' x.id %}">{{ x.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:view' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:view' %}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:view' %}">About us</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

<div class="listHolder">

    {% for x in services %}

        {% if forloop.counter0|divisibleby:2 %}

    <div class="listItem">

        <div class="listTitle" style="float:right;">
            {{ x.title }}
        </div>

        <div class="listContent">

        <img src="/media/{{ x.image }}" class="listImg">

        <p class="listInfo">
            {{ x.description }}
        </p>

        </div>
    </div>
            {% else %}

         <div class="listItem" dir="rtl">

        <div class="listTitle" style="float:left;">
            {{ x.title }}
        </div>

        <div class="listContent">

        <img src="/media/{{ x.image }}" class="listImg">

        <p class="listInfo">
            {{ x.description }}
        </p>
            </div>

         </div>

        {% endif %}

    {% endfor %}

</div>

{% endblock %}

</body>
</html>