{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

</head>
<body>

{% block header %}


    <!-- دکمه موبایل -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa fa-bars text-primary"></i></span>
    </button>

    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:view' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for x in category %}
                        <li><a class="dropdown-item" href="{% url 'services:services_view' x.id %}">{{ x.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:view' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:view' %}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:view' %}">About us</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<section class="custom-services py-5">
  <div class="container">
    {% for service in services %}
      <div class="service-box d-flex flex-wrap align-items-stretch mb-5 {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">

        <!-- تصویر -->
        <div class="service-img">
          <img src="/media/{{ service.image }}" alt="{{ service.title }}" class="img-fluid">
        </div>

        <!-- محتوا -->
        <div class="service-content text-white p-4">
          <div class="content-wrapper">
            <h3 class="fw-bold mb-3">{{ service.title }}</h3>
            <p>{{ service.description}}</p>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
</section>



{% endblock %}

</body>
</html>