{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

</head>
<body>

{% block header %}


    <!-- دکمه موبایل -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa fa-bars text-primary"></i></span>
    </button>

    <!-- آیتم‌های منو -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:view' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for x in category %}
                        <li><a class="dropdown-item" href="{% url 'services:services_view' x.id %}">{{ x.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'product:view' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:view' %}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about:view' %}">About us</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<section class="services-list py-5">
  <div class="container">

    {% for x in services %}
      <div class="row align-items-center mb-5 flex-lg-row{% if forloop.counter0|divisibleby:2 %} {% else %}-reverse{% endif %}">

        <!-- تصویر -->
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="/media/{{ x.image }}" alt="{{ x.title }}" class="img-fluid rounded shadow">
        </div>

        <!-- متن -->
        <div class="col-lg-6">
          <h3 class="fw-bold mb-3">{{ x.title }}</h3>
          <p class="text-muted">{{ x.description }}</p>
        </div>

      </div>
    {% endfor %}

  </div>
</section>


{% endblock %}

</body>
</html>